<%- include("header") -%>

<h2>About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores quam temporibus animi, voluptas itaque a vitae repellat porro sint minima aperiam quisquam, exercitationem ea voluptatum. Incidunt doloremque vitae magnam.</p>


<%-include("footer")-%>